/* You can add global styles to this file, and also import other style files */
.app-container {
    min-height: 320px;
    overflow: hidden;
}

.btn-delete-user {
    width: 40px;
    text-align: center;
    box-sizing: content-box;
}

.preview-spacer {
    margin-top: 20px;
}

#profile_preview_image {
    width: 50%;
    height: auto;
}

.overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 2;
    background-color: rgba(0, 0, 0, 0.4) !important;

    .confirm-delete {
        position: absolute;
        top: calc(50vh - 70px);
        left: calc(50vw - 120px);
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        height: 140px;
        width: 240px;
        background-color: white;

        button {
            margin: 10px;
        }
    }
}